<ion-header [translucent]="true">
 
<ion-content  [fullscreen]="true">
  <ion-header collapse="condense">
    <a [routerLink]="'/tabs/new-page'"><ion-icon name="arrow-back"></ion-icon>GO ABOUT ME</a>
    
<h3 color="secondary" style="background: burlywood;">Agendar contactos</h3>     


  <ion-item>
    <ion-label position="floating">Nombre Completo</ion-label>
    <ion-input type="text" [(ngModel)]='ConsultaContactService.nuevo.nombreCompleto' type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input type="text" [(ngModel)]='ConsultaContactService.nuevo.telefono' type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text" [(ngModel)]='ConsultaContactService.nuevo.correo' type="text"></ion-input>
  </ion-item>

 
  <ion-item>
    <ion-label position="floating">Notas</ion-label>
    <ion-input type="text" [(ngModel)]='ConsultaContactService.nuevo.notas' type="text"></ion-input>
  </ion-item> 
 
<ion-button expand="block" (click)="ConsultaContactService.presentAlert()"  (click)="ConsultaContactService.addPersona()">
  <ion-icon name="add-circle-outline"></ion-icon>
</ion-button>
 
  </ion-header>
</ion-content>
