<ion-header style="background: darkgreen;">
  <ion-toolbar>
    <ion-title style="background-color: burlywood;"><ion-icon name="book"></ion-icon> DATOS DEL TRABAJO</ion-title>
  </ion-toolbar>
  <ion-card class="abouteme">
    <ion-card-header>
      <h5>Proyecto final de unidad</h5>
      <ion-card-content>
        JOSE DE JESUS FLORES RUVALCABA
      </ion-card-content>
      <h3>DESARROLLO MOVIL MULTIPLATAFORMA</h3>
    </ion-card-header>
  
    <ion-card-content>
     TIADSM 5 C
    </ion-card-content>
  </ion-card>
  <ion-card>
    UNIVERSIDAD TECNOLOGICA DE AGUASCALIENTES
    <hr>
    <hr>
    PROFESOR: Alfredo Castillo Luevano
    <hr>
    <hr>
   TECNOLOGIAS DE INFORMACION Y COMUNICACION
  </ion-card>
  

<ion-content>
  <ion-footer >
    <ion-toolbar>
      <ion-title style="background-color: dimgray; text-align: center;">UNIDAD II</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
</ion-header>